<%= form_for @movie, :html => { :multipart => true }  do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title , class: "form-control"%>
  </div><br>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description , class: "form-control"%>
  </div><br>

  <div class="field">
    <%= f.label :movie_length %><br>
    <%= f.text_field :movie_length, class: "form-control" %>
  </div><br>

  <div class="field">
    <%= f.label :director %><br>
    <%= f.text_field :director , class: "form-control"%>
  </div><br>


    <%if @movie.image.present?%>
      <div><%= image_tag @movie.image.url(:thumb) %></div>
      <p>Change current image below</p><br>
    <%end%>



  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div><br>


  <div class="actions">
    <%= f.button :submit, class: "btn btn-default" %>
  </div>
<% end %>
